<%= image_tag('kreiger_daniel_resume.jpg', id: 'resume', alt: 'Daniel Kreiger Resume') %>


<div class="dk_resume">

<h4>EXPERIENCE</h4>
<h4>Rails Developer, Wyncode; Miami, FL 2014</h4>
<h4><a href="http://www.thepiano.co">Twelve</a></h4>
<h5>A piano lesson app with video and payment integration using Ruby on Rails. Created app containing instructional videos emphasizing musical scales, that could be accessed via credit card payment subscription (Stripe API).</h5>
<h4><a href="http://www.github.com/dankreiger/SCHICKEN-CHICKEN">Schicken Chicken</a></h4>
<h5>A program that sends e-mails through the terminal window using the SendGrid API.</h5>
<h4><a href="http://www.github.com/dankreiger/stock-ticker">Stock-Ticker</a></h4>
<h5>A program that searches stocks by company name and retrieves realtime information.</h5>
<h4><a href="http://www.kreiger.co">Portfolio Website</a></h4>
<h4><a href="http://www.pupperesting.com">Pupperesting</a></h4>
<h5>A cute app made in Ruby on Rails where a user can post pictures of puppies.</h5>

</div>